{% extends "layout.html" %}
{% block content %}
  <!-- Gods forgive me for this inline sin -->
  <style>body { background: #18bc9c; }</style>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-text">
            <span class="name">citizen research</span>
            <hr class="star-light">
          </div>
          <div class="col-lg-6 col-lg-offset-3 text-center text-justify">
            <p>This project aims to actively involve citizens in research.
                Many times researchers rely on local community knowledge or skills to inform their work.
                There is space for citizens to become active members of the research team by providing
                their understanding of context and applying their skills in research,
                such as leading nature walks, knitting and translation.</p>
          </div>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ePbKGoIGAXY"></iframe>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="col-lg-4 col-lg-offset-2 text-center">
            <a href="/participate" class="btn btn-lg btn-outline">I am a <i>citizen</i></a>
          </div>
          <div class="col-lg-4 text-center">
            <a href="/participate" class="btn btn-lg btn-outline">I am a <i>researcher</i></a>
          </div>
        </div>
      </div>
    </div>
  </header>
{%- endblock %}